body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Open Sans", Arial, sans-serif;
    background: #D7D7D7;
}

header {
    padding: 0;
    margin: 0;
    background: #373641;
    color: #B0FFBD;
    height: 8em;
}

header h1 {
    margin: 0;
    padding: 1.2em 1.8em;
}

.intro h1 {
    font-size: 2em;
}

.intro h1 span {
    display: block;
    font-size: .8em;
    font-weight: normal;
    font-style: italic;
}

section {
    padding: 0;
    margin: 3em;
}

section h2 {
    margin: 1em;
    width: 100%;
}

article {
    background: #E6E6E6;
    padding: 2em;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    -webkit-box-shadow: 0 .1em .3em rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 .1em .3em rgba(0, 0, 0, .25);
}

article h3 {
    margin: 0;
    font-size: 1.5em;
}

article .baseline {
    font-style: italic;
    font-weight: normal;
    font-size: .7em;
    display: block;
}

article img {
    width: 188px;
    height: 188px;
    border: .5em solid white;
    border-bottom-width: 3em;
    margin: 1em auto;
    -webkit-box-shadow: 0 .1em .3em rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 .1em .3em rgba(0, 0, 0, .25);
}

article p {
    margin: 0.1em;
    font-size: 1em;
}

article a {
    margin-top: 1rem;
}
