/*
#AAEC98
#80D55F
#4CAB47
#1E7A2F
#0B4C17
#102E09
*/


body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    font-family: overpass, sans-serif;
    background: #003428;
}

/* COMMON */

@font-face {
  font-family: 'falling-sky_black';
  src:  url('fonts/FallingSkyBlk.woff2') format('woff2'),
  url('fonts/FallingSkyBlk.woff') format('woff');
}

h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #92e080;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #0B4C17;
}

h3:not(:first-child) {
    margin-top: 3rem;
}

p {
    margin: 0 0 1rem;
}

a {
    color: rgba(255, 100, 30, .8);
}

ul {
    margin-bottom: 25px;
}

ul > li:not(:last-child) {
    margin-bottom: 10px;
}

blockquote {
    margin: 2rem 2rem 2rem 1rem;
    padding: 0 0 0 1rem;
    font-style: italic;
    border-left: 3px solid #92e080;
    /*background-color: #f2f2f2;*/
}

dl:first-of-type {
    margin-top: 3rem;
}

dl:not(:last-child) {
    margin-bottom: 3rem;
}

dt {
    font-size: 18px;
    color: #92e080;
}

dd {
    margin-top: 10px;
    margin-left: 20px;
}


/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 610px;
    padding: 0;
    margin: 0;
    font-family: "falling-sky_black", sans-serif;
    color: #002920;
    text-align: center;
    background: url(img/header.png) center center no-repeat;
}

header h1,
header p {
    margin: 0;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 55px;
    font-weight: 900;
    text-transform: uppercase;
}

header h1 span {
    font-size: 83px;
}

header p {
    padding:0 0 3rem;
    font-weight: 500;
    font-size: 1.1rem;
}

/* CONTENT */
section {
    width: 800px;
    padding: 0;
    margin: 3rem auto;
}

section:first-of-type {
    margin-top: 0;
}

article {
    background: #f2f2f2;
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    box-shadow: 0 .1rem .3em rgba(0, 0, 0, .25);
}

article h3 {
    margin: 0;
    font-size: 1.5rem;
}

article .baseline {
    font-style: italic;
    font-weight: normal;
    font-size: .9rem;
    display: block;
}

article img {
    width: 188px;
    height: 188px;
    border: .5rem solid white;
    border-bottom-width: 3rem;
    margin: 1rem auto;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .25);
}

article p {
    margin: 0.1rem;
    font-size: 1rem;
}

article a {
    margin-top: 1rem;
}

article.links {
    display: inline;
}

article i {
    color: #3caf87;
}

/* Template Formation */
.formation p {
    margin: 0 0 1rem;
}

.formation a {
    margin: 0;
}

.tags {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tags li {
    display: inline-block;
}

.tags li:not(:last-child):after {
    content: ',';
}

/* FOOTER */
footer {
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: center;
    background: #3caf87;;
}

footer p {
    margin: 0;
    padding: 2rem 0;
    font-size: 1rem;
}
